*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --primary-color: #ffa500;
    --secondary-color: #f9f9f9;
    --transition: .3s;
    
}
/* start header */
.logo{
    width: 128px;
}
.navbar-nav .nav-link{
    color: #000;
    font-size:17px;
    font-weight: 600;
    transition: var(--transition);

}
.navbar-nav .nav-link:hover{
    background-color: var(--primary-color);
    color: #fff ;
    border-radius: 4px;

}
form .btn{
    border:2px solid var(--primary-color);
}
form .btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
/* end Header */
/* start swipper */
.carousel-inner .carousel-item img{
    height: 100vh;
    object-fit: cover;
}
.carousel-inner .carousel-caption{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
    border-radius: 10px;
}
.carousel-inner .carousel-caption h3{
    text-transform: uppercase;
}
/* end swipper */
/* start social-media-icons */ 
.social-media-icons{
    position: fixed;
    top:40%;
    right: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media-icons i{
    background-color:  var(--primary-color);
    border-radius: 50%;
    width:35px;
    height: 35px;
    text-align: center;
    color: #fff;
    padding: 10px;
    opacity: 0.6;
}
.social-media-icons i:hover{
    transition: var(--transition);
    opacity: 1;
}
/* start social-media-icons */ 
/* start accordion */
.container{
    width: 80%;
    margin: 0 auto;
}
/* end accordion */
/* start sec3 */
.destination .main-title{
    color: var(--primary-color);
    font-size: 35px;
    margin-bottom: 30px;
}

.destination .box{
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.06);
}
.destination .box img{
    cursor: pointer;
    transition: var(--transition);
}
.destination .box img:hover{
    transform: scale(1.1);
}
.destination .box .text-box{
    padding: 10px;
}
.destination .box .text-box h4{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}
.destination .box .text-box p{
    color: #777;
    line-height: 2;
}
.destination .box .btn{
    border: 2px solid var(--primary-color);
    margin-bottom: 20px;
}
.destination .box .btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}
/* start sec3 */